.logo{
  margin-top: 100px;
}

.card-qs{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 800px;
  bottom: 370px; 
}

.card-qs .front {
  transform: perspective(600px) rotateY(180deg);
  left: 600px;
  bottom: 370px;
}

.card-qs .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.card-qs .back {
  transform: perspective(600px) rotateY(0deg);
  left: 600px;
  bottom: 370px;
  display: flex;
}
.card-qs .back img{
  position: absolute;
  width: 100%;
  height: 68.5%;
  object-fit: cover;
  border-radius: 5px 0 0 5px ;
  
}

.card-qs:hover .front {
  transform: perspective(600px) rotateY(360deg);
}
.card-qs:hover .back {
  transform: perspective(600px) rotateY(180deg);
}
