.bg-home1 {
  background-image: url(../../media/img-home-nuevo.png);
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  background-size: cover; */
  overflow-x: hidden !important;
  background-size: cover;
}

.bg-home{
  background-image: url(../../media/img-home-nuevo.png);
  width: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden !important;
  background-size: contain;
  font-family: sans-serif;

}

.contenedor-parrafo {
  margin: 0 20px;
}

.parrafo-home {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}

.calendario-home{
 margin-left: 600px;
}

.card-body{
  left: 600px;
  top: 95px;
}

.contenedor-imagenPerro {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}

.imagen-perro {
  width: 700px;
  height: 400px;
}

.contenedor-textoPerro {
  height: 120px;
}

.texto-perro {
  text-align: center;
  margin: 25px 10px;
  font-size: 18px;
}


@media screen and (max-width: 720px) {
  .imagen-perro {
    width: 500px;
    height: 280px;
  }

  .parrafo-home {
    font-size: 16px;
  }
}


@media screen and (max-width: 497px) {
  .imagen-perro {
    width: 320px;
    height: 170px;
  }

  .texto-perro {
    text-align: center;
    margin: 25px 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .parrafo-home {
    font-size: 12px;
  }
}