/* .inicio {
  width: 100%;
  background: url(../../media/fondoInicio.jpeg);
} */



.bg-home{
  background-image: url(../../media/img-home-nuevo.png);
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  background-size: cover; */
  overflow-x: hidden !important;
  background-size: contain;
  font-family: sans-serif;

}

.calendario-home{
 margin-left: 600px;
}

.card-body{

  left: 600px;
  
  top: 95px;
}
 /* @media screen and (min-width:1440px ){
  .card-body{
    left: 600px;
    height: 40px;
    width: 200px;
    
  }
 } */


 @media screen and (max-width:376px ){
  .card-body{
    left: 180px;
    height: 100px;
  }
 }


 @media screen and (max-width:769px ){
  .card-body{
    left: 280px;
    background-size: cover;
  }
 }
 
.imagePerro{
  margin-left: 60px;
}
