.bg-detail{
  background-image: url(../../media/img-home-nuevo.png);
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  background-size: cover; */
  overflow-x: hidden !important;
  background-size: cover;
}

.contenedor-imagen {
  width: 75vw;
  margin-left: -15px;
  max-width: 1000px;
  min-width: 250px;
}

.contenedor-imagen img {
  width: 100%;
  margin-left: 90px;
  border-radius: 15px;
}

@media screen and (max-width: 992px) {
.contenedor-imagen img {
  margin-left: 0;
}
}

@media screen and (max-width: 720px) {
h5 {
  font-size: 16px;
}
}


@media screen and (max-width: 497px) {
  h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  h5 {
      font-size: 12px;
  }

  .boton-inicio {
      font-size: 10px;
      height: 30px;
      width: 70px;
  }
}